In [1]:
def greeting(name):
    print(f"welcome {name} to our city")

name=input("write your name")
greeting(name)

write your name aayush

welcome aayush to our city

In [9]:
def sqre_fun(num):
    print(num*num)

In [11]:
sqre_fun(21)
sqre_fun(3)

441
9

In [12]:
def even_find(num):
    if num%2==0:
        return True
    else:
        return False

In [13]:
print(even_find(12),even_find(11))

True False

In [22]:
def fact(num):
    if num>=0:    
        if num==0 or num==1:
            return 1
        else:
            return num*fact(num-1)
    else: 
        return -1

In [17]:
print(fact(7))

5040

In [25]:
def sum_sub_mul_div(x,y):
    return (x+y),(x-y),(x*y),(x/y)

In [26]:
a,b,c,d=sum_sub_mul_div(10,7)
print(a,b,c,d)

17 3 70 1.4285714285714286

In [27]:
def wish(name,msg):
    print(f'hi {name}, {msg}')

In [33]:
wish('lal','welcome')
# wish(name='chula','wawa') this will through error 
# wish(bhai,msg="aaja") error
wish(msg='sab sahi',name='bhai')

hi lal, welcome
hi bhai, sab sahi

In [34]:
def wish(name="Guest",msg="welcome"):
    print(f'hi {name}, {msg}')
def wish(name,msg="aajao"):
    print(f'hi {name}, {msg}')
# def wish(name="haha",msg):   parameter without a default follows parameter with a default
#         print(f'hi {name}, {msg}')

In [42]:
def sum(*n):
    tot=0
    for i in n:
        tot+=i

    print( tot)

In [43]:
sum(10)
sum(12, 23, 34)

10
69

In [44]:
def f1(n1,*s):
    print("yo",n1)

    for i in s:
        print(i)

In [46]:
f1(10)
f1(12,13,'esd',43,23)

yo 10
yo 12
13
esd
43
23

In [47]:
def f2(**kword):
    for k,v in kword.items():
        print(k,"=",v)

In [49]:
f2(name="lal",age=21,sex="male")

name = lal
age = 21
sex = male

In [50]:
f2(a=1,s=2,d=3,f=4)

a = 1
s = 2
d = 3
f = 4

In [52]:
a=10 #globle veriable
def fn1():
    print(a)
def fn2():
    print(a)

fn1()
fn2()

10
10

In [53]:
a=10 #globle veriable
def fn1():
    a=21
    print(a)
def fn2():
    print(a)

fn1()
fn2()

21
10

In [55]:
a=10 #globle veriable
def fn1():
    global a
    a=21
    print(a)
def fn2():
    print(a)

fn1()
fn2()

21
21

In [57]:
a=10
def fn3():
    a=32
    print(a)
    print(globals()['a'])

fn3()

32
10

In [2]:
s = lambda x:x*x
print(f"square of {4}={s(4)}")

square of 4=16

In [3]:
add=lambda x,y:x+y
print(add(10,32))

42

In [4]:
maxi= lambda x,y,z:max(x,y,z)
print(maxi(20,31,53))

53

In [5]:
greater= lambda x,y,z:x if x>y and x>z else y if y>x and y>z else z
print(greater(10,32,12))

32

In [9]:
arr=[1,2,3,4,5,6,7,8,9,10]
z= filter(lambda x:x%2!=0, arr)
print(list(z))

[1, 3, 5, 7, 9]

In [10]:
arr=[1,2,3,4,5,6,7,8,9,10]
def fun(x):
    return x%2!=0
z= filter(fun, arr)
print(list(z))

[1, 3, 5, 7, 9]

In [11]:
arr=[1,2,3,4,5,6,7,8,9,10]
z= map(lambda x:2*x, arr)
print(list(z))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
arr=[1,2,3,4,5,6,7,8,9,10]
z= map(lambda x:x**2, arr)
print(list(z))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
arr1=[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
arr2=[1,2,3,4,5,6,7,8,9,10]
z= map(lambda x,y:x*y, arr1,arr2)
print(list(z))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [15]:
from functools import *
arr=[1,2,3,4,5,6,7,8,9,10]
z= reduce(lambda x,y:x+y,arr)
print(z)

55

In [16]:
p = reduce (lambda x,y:x+y,range(1,101))
print(p)

5050

In [17]:
def wish(name):
    print("hi ",name)

greet=wish #function aliasking
wish("sita")
greet("ram")

hi  sita
hi  ram

In [20]:
def outer():
    print("in outer function")
    def inner():
        print("inside inner function")
    inner()
outer()

in outer function
inside inner function

In [21]:
# Data structure in python
lis=[1,2,3,"aa",'ead',3232.12]

In [22]:
lis[3]

'aa'

In [23]:
lis[5]

3232.12

In [27]:
lis= eval(input("enter the value in list"))
print(lis)

enter the value in list "aw",'w',32,53.4

('aw', 'w', 32, 53.4)

In [29]:
t=list(range(0,10,2))
print(t)

[0, 2, 4, 6, 8]

In [30]:
#split
a="chal bhai khane chalte h"
a=a.split()
print(a)

['chal', 'bhai', 'khane', 'chalte', 'h']

In [31]:
n=[1,23,4,5,67,8,94,84,4,634,57,534]
n=n[1::2]
print(n)

[23, 5, 8, 84, 634, 534]

In [33]:
s1=[1,1,1,1,1,2,3,4,4,4,4]
s1.count(1)

5

In [35]:
n.index(5)

1

In [36]:
print(2 in s1)

True

In [39]:
#manupulating the list data
#append
lt=[]
lt.append(2)
lt.append(3)
lt.append('ram')
lt.append("sita")
print(lt)

[2, 3, 'ram', 'sita']

In [40]:
num=0
lt=[]
while(num<=100):
    lt.append(num)
    num+=10
print(lt)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [41]:
lt.insert(2,15)
print(lt)

[0, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [1]:
print(math.pow(3, 2))

NameError: name 'math' is not defined