In [4]:
class student:
    """this is student class with data"""
print(student.__doc__)

this is student class with data

In [9]:
class Student:
    """this is the opps for app development"""
    def __init__(self,name,age,marks):# __init__ is the constructor in the python for class
        self.name=name
        self.age=age
        self.marks=marks
    def m1(self,roll):
        self.roll=roll

    def talk(self):
        print(f"hello {self.name}, nice to meet you, your age is {self.age} and got {self.marks} marks")

s=Student("Ram",21,99)
s.m1(2)
s.talk()

hello Ram, nice to meet you, your age is 21 and got 99 marks

In [10]:
print(s.__dict__)

{'name': 'Ram', 'age': 21, 'marks': 99, 'roll': 2}

In [15]:
class test:
    x=10
    def __init__(self):
        self.y=20
t1=test()
t2=test()
print(t1.x,t1.y)
print(t2.x,t2.y)
test.x=123
print(t2.x,t1.x)

10 20
10 20
123 123

In [ ]:
class a:
    def __init__(self,a):